In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn import tree

In [3]:
dataframe = pd.read_csv("train.csv")

In [4]:
encoder = OneHotEncoder(sparse_output=False)
columns_encoded = ['Grades PreK-2', 'Grades 3-5', 'Grades 6-8', 'Grades 9-12']
one_hot_encoded = encoder.fit_transform(dataframe[["project_grade_category"]])
dataframe_encoded = pd.DataFrame(one_hot_encoded, columns=columns_encoded)
new_dataframe = dataframe.join(dataframe_encoded)

In [5]:
X_normal = new_dataframe[['teacher_number_of_previously_posted_projects', 'total_quantity', 'total_price', 'Grades PreK-2', 'Grades 3-5', 'Grades 6-8', 'Grades 9-12']]
y = new_dataframe[['project_is_approved']]

In [6]:
X_normal

,teacher_number_of_previously_posted_projects,total_quantity,total_price,Grades PreK-2,Grades 3-5,Grades 6-8,Grades 9-12
0,0,1,264.99,1.0,0.0,0.0,0.0
1,12,5,847.00,0.0,0.0,0.0,1.0
2,1,13,222.20,0.0,0.0,1.0,0.0
3,0,5,318.97,0.0,0.0,0.0,1.0
4,0,25,606.41,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
87393,12,35,4.34,0.0,0.0,1.0,0.0
87394,1,21,156.64,0.0,0.0,0.0,1.0
87395,23,3,707.37,1.0,0.0,0.0,0.0
87396,16,16,136.63,1.0,0.0,0.0,0.0
87397,0,9,179.00,0.0,1.0,0.0,0.0

In [7]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X1 = scaler.fit_transform(X_normal) #X1 is basically the array of scaled features x_normal 
X = pd.DataFrame(X1)
X

              0         1         2         3         4         5         6
0     -0.401547 -0.609477 -0.089842  1.393237 -0.429417 -0.332850 -0.824281
1      0.030366 -0.456562  1.494159 -0.717753 -0.429417 -0.332850  1.213179
2     -0.365555 -0.150731 -0.206299 -0.717753 -0.429417  3.004356 -0.824281
3     -0.401547 -0.456562  0.057071 -0.717753 -0.429417 -0.332850  1.213179
4     -0.401547  0.308014  0.839369  1.393237 -0.429417 -0.332850 -0.824281
...         ...       ...       ...       ...       ...       ...       ...
87393  0.030366  0.690302 -0.799228 -0.717753 -0.429417  3.004356 -0.824281
87394 -0.365555  0.155099 -0.384727 -0.717753 -0.429417 -0.332850  1.213179
87395  0.426287 -0.533019  1.114142  1.393237 -0.429417 -0.332850 -0.824281
87396  0.174338 -0.036045 -0.439187  1.393237 -0.429417 -0.332850 -0.824281
87397 -0.401547 -0.303646 -0.323872 -0.717753  2.328737 -0.332850 -0.824281

[87398 rows x 7 columns]

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=8)

In [9]:
model = tree.DecisionTreeClassifier(random_state=9)
model.fit(X_train, y_train)

y_pred_test = model.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_pred_test)
accuracy

0.7515446224256292

In [11]:
#for new test data
test_data = pd.read_csv('test.csv')

In [12]:
encoder = OneHotEncoder(sparse_output=False)
columns_encoded = ['Grades PreK-2', 'Grades 3-5', 'Grades 6-8', 'Grades 9-12']
one_hot_encoded = encoder.fit_transform(test_data[["project_grade_category"]])


test_data_encoded = pd.DataFrame(one_hot_encoded, columns=columns_encoded)
new_test_data = test_data.join(test_data_encoded)
X_new_1 = new_test_data[["teacher_number_of_previously_posted_projects","total_quantity", "total_price", "Grades PreK-2", "Grades 3-5", "Grades 6-8", "Grades 9-12"]]
X_new_1 = pd.DataFrame(X_new_1)
X_new_1

,teacher_number_of_previously_posted_projects,total_quantity,total_price,Grades PreK-2,Grades 3-5,Grades 6-8,Grades 9-12
0,202,10,409.83,0.0,0.0,0.0,1.0
1,0,1,649.99,0.0,0.0,1.0,0.0
2,4,4,169.86,0.0,0.0,0.0,1.0
3,7,2,181.75,0.0,0.0,0.0,1.0
4,0,21,22.62,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...
21845,125,12,105.96,0.0,0.0,1.0,0.0
21846,0,1,447.98,1.0,0.0,0.0,0.0
21847,0,15,63.98,1.0,0.0,0.0,0.0
21848,40,2,199.00,0.0,0.0,1.0,0.0
21849,15,1,241.57,0.0,0.0,1.0,0.0

In [13]:
scaler = StandardScaler()

X_new = scaler.fit_transform(X_new_1)
X_new = pd.DataFrame(X_new)
X_new

              0         1         2         3         4         5         6
0      6.877367 -0.268509  0.302467 -0.717155 -0.422983 -0.338480  1.210038
1     -0.401435 -0.610968  0.955502 -0.717155 -0.422983  2.954388 -0.826420
2     -0.257300 -0.496815 -0.350051 -0.717155 -0.422983 -0.338480  1.210038
3     -0.149199 -0.572917 -0.317720 -0.717155 -0.422983 -0.338480  1.210038
4     -0.401435  0.150052 -0.750421 -0.717155  2.364162 -0.338480 -0.826420
...         ...       ...       ...       ...       ...       ...       ...
21845  4.102774 -0.192407 -0.523805 -0.717155 -0.422983  2.954388 -0.826420
21846 -0.401435 -0.610968  0.406203  1.394398 -0.422983 -0.338480 -0.826420
21847 -0.401435 -0.078254 -0.637956  1.394398 -0.422983 -0.338480 -0.826420
21848  1.039912 -0.572917 -0.270814 -0.717155 -0.422983  2.954388 -0.826420
21849  0.139070 -0.610968 -0.155059 -0.717155 -0.422983  2.954388 -0.826420

[21850 rows x 7 columns]

In [14]:
y_new_pred_test = model.predict(X_new)
print(y_new_pred_test)

[1 1 1 ... 1 0 1]

In [16]:
#predictions to dataframe then to csv
predictions_df = pd.DataFrame({'predicted_label': y_new_pred_test})
predictions_df.to_csv('predictedvalues.csv', index=False)